* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Fraunces", "Arial", sans-serif;
  font-weight: 900;

}

ul {
    padding-left: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

  .container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 20px;
  }


  .site-header {
    position: relative;
    background-color: #49BCF1;
    width: 100%;
    padding-bottom: 100px;
  }
  
  .site-header__wrapper {
    padding: 12px 0 88px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-header__burger {
    background-image: url("../images/button.svg");
    background-size: cover;
    width: 24px;
    height: 18px;
    display: none;
    background-color: transparent;
    border: none;
  }

.site-header__list {
    display: flex;
}

.site-header__item {
    margin-right: 30px;
}

.site-header__item:last-child {
    margin-right: 0px;
}


@media only screen and (max-width:600px){
.site-header__navbar {
   position: fixed;
   background-color: rgb(197, 182, 182);
   left: 0;
   right: 0;
   height: 100vh;
   top: 10%;
   margin: 0 24px;
   text-align: center;
   display:none;
}

.site-header__list {
  display: flex;
  flex-direction: column;
}

.site-header__item{
  margin-right: 0;
  padding: 10px 0;
}


.site-header__burger {
  display: block;
}

.site-open {
  display: block;
}



}

